extends layout

block content
  #index-banner.section.no-pad-bot
  .container
    br
    br
    h1.header.center.orange-text Bulk Emailer 
    .row.center
      h5.header.col.s12.light Send emails by uploading a csv file 
    .row.center
      a#download-button.btn-large.waves-effect.waves-light.green(href='/downloadsample') Download Sample CSV File
    br
    br

